html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-width: 900px;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
}

.header-wrap {
    max-width: 1920px;
    margin: 0 auto;
}

.top-nav {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    max-width: 1040px;
    margin: 0 auto;
}

.menu {
    display: flex;
    justify-content: space-around;
}

a {
    text-decoration: none;
    display: inline-block;
    color: #000000;
}

a:hover,
a:active {
    color: #bfba55;
}

.logo p {
    text-transform: uppercase;
}

ul,
li {
    list-style: none;
    display: inline-block;
    padding-left: 20px;
}

.header-hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/home-bg.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-heading {
    color: #ffffff;
    font-size: 50px;
    font-weight: 500;
    line-height: 20px;
}

.header-text {
    color: #bfba55;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 2px;
    margin-bottom: 50px;
}

.header-button {
    display: block;
    width: 150px;
    height: 35px;
    background-color: #ffffff;
    color: #777777;
    border-radius: 20px;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
}

.blog-section {
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-wrapper {
    max-width: 850px;
}

.blog-image {
    width: 850px;
    margin-top: 50px;
}

.blog-section h2 {
    font-size: 30px;
    padding: 10px 0 2px;
}

.blog-section p.blog-entry {
    font-size: 18px;
    line-height: 1.5;
}

.blog-btn {
    margin: 16px 0;
    color: #777777;
    padding: 13px 25px;
    border-radius: 25px;
    border: 1px #777777 solid;
    background: #ffffff;
}

.blog-statistics {
    display: flex;
}

.author-img {
    height: 40px;
    border-radius: 20px;
    margin-top: 4px;
}

.blog-author,
.blog-data,
.blog-comments {
    padding-left: 15px;
}

.blog-comments {
    display: flex;
}