/*

write your code here

*/

@media-print {}

.tm-nav-item:hover {
    background-color: #87cefa;
}

.tm-nav-item-link:hover {
    color: #ffffff;
}

.tm-banner {
    background: linear-gradient(to right, #87cefa, #deb887);
}

.tm-banner-inner {
    background: #ffffff;
}

.tm-banner-text {
    text-shadow: #333333 4px 4px 2px;
    position: relative;
    animation: text-animation 4s 0.2s;
}

@keyframes text-animation {
    from {
        left: 200px;
        top: 0;
    }
    to {
        left: 0;
        top: 0;
    }
}

.tm-content-box.flex-2-col {
    display: flex;
    align-items: center;
}

.tm-team-description-container h2 {
    text-align: center;
}

.box-bg:hover {
    background-color: #d3d3d3;
    color: #87cefa;
    font-style: italic;
}

.heading h2 {
    text-align: center;
    color: #87cefa;
}

.heading ol li {
    list-style: lower-alpha;
}

.tm-team-description-container h2 {
    text-align: left;
}

.tm-team-description-container .tm-section-description:last-child {
    letter-spacing: 5px;
    word-spacing: 10px;
    font-style: italic;
}