/*

write your code here

*/

@media-print {}

.tm-nav-item:hover {
    background-color: #87CEFA;
}

.tm-nav-item-link:hover {
    color: #ffffff;
}

.tm-banner {
    background: linear-gradient(to right, #87CEFA, #deb887);
}

.tm-banner-inner {
    background: #ffffff;
    text-shadow: #333333 4px 4px 2px;
}